@font-face {
    src: url(./fts/Aeonik-Black.ttf);
    font-weight: 900;
    font-family: "Aeonik";
}

@font-face {
    src: url(./fts/Aeonik-Bold.ttf);
    font-weight: 800;
    font-family: "Aeonik";
}

@font-face {
    src: url(./fts/Aeonik-Regular.ttf);
    font-weight: 500;
    font-family: "Aeonik";
}

@font-face {
    src: url(./fts/Aeonik-Medium.ttf);
    font-weight: 400;
    font-family: "Aeonik";
}

@font-face {
    src: url(./fts/MonumentExtended-Ultrabold.otf);
    font-weight: 900;
    font-family: "monument";
}

@font-face {
    src: url(./fts/MonumentExtended-Regular.otf);
    font-weight: 100;
    font-family: "monument";
}

@font-face {
    src: url(./fts/Gilroy-Bold.otf);
    font-weight: 900;
    font-family: "Gilroy";
}

@font-face {
    src: url(./fts/Gilroy-Semibold.otf);
    font-weight: 500;
    font-family: "Gilroy";
}

@font-face {
    src: url(./fts/Gilroy-Regular.otf);
    font-weight: 400;
    font-family: "Gilroy";
}

@font-face {
    src: url(./fts/Gilroy-Thin.otf);
    font-weight: 100;
    font-family: "Gilroy";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.page-1 {
    height: 100%;
    width: 100%;
    background: rgb(206, 206, 206);
    padding-top: 0.01vh;
}

nav {
    display: flex;
    /* background: rgba(255, 255, 255, 0.35); */
    /* backdrop-filter: blur(8px); */
    height: 60px;
    width: 100%;
    margin-top: 1.2vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
nav h1{
    font-family: monument;
    letter-spacing: 1px;
}

.website-name {
    padding-left: 1vw;
}

nav .search-section {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */

}

nav .search-section input {

    width: 100%;
    height: 70%;
    border-style: none;
    text-align: end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav .search-section input:focus{
    outline: none;
}

nav .search-section i {
    padding: 0 1vw;
    font-size: 21px;
    background: rgb(255, 255, 255);
    height: 70%;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sign-up_log-in{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.sign-up_log-in button {
    height: 60%;
    width: 80%;
    border-radius: 4vw;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(83, 189, 250);
    color: whitesmoke;
    border-style: none;
    text-align: center;
    text-transform: uppercase;
}
.cart-section{
    height: 80%;
    width: 8%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(40, 40, 40);
    border-radius: 40px;
}
.cart-section i {
    font-size: 35px;
    padding-right: 1.4vw;
    position: relative;
    color: rgb(40, 40, 40);
}
.cart-section i::after{
    content: "$";
    position: absolute;
    top: 0;
    right: 15px;
    height: 45%;
    width: 15px;
    font-size: 10px;
    background: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: Gilroy;
}
nav .ri-menu-3-line{
    font-size: 1.8vw;
    display: none;
}
.navbar-2{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-2 a {
    text-decoration: none;
    color: black;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
}

.hero-section {
    height: 70%;
    width: 100%;
    display: flex;
}
.hero-section-left{
    height: 100%;
    width: 70%;
    /* background: red; */
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}
.hero-section-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
.hero-section-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    gap: 10px;
    margin-right: 0.7vw;
}
.hero-section-right-1{
    height: 50%;
    width: 100%;
    /* background: blue; */
   
}
.hero-section-right-2{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 10px;
}
.hero-section-right-3{
    height: 100%;
    width: 50%;
    /* background: purple; */
   
}
.hero-section-right-4{
    height: 100%;
    width: 50%;
    /* background: green; */
}
.hero-section-right-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.hero-section-right-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
.hero-section-right-4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}


@media (max-device-width:900px) {
    nav h1{
        width: 15%;
    }

    nav .search-section {
        margin: 0 0 0 2vw;
        width: 40%;
    }
    
    nav .search-section input {
    
        width: 100%;
        height: 70%;
        border-style: none;
        text-align: end;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .sign-up_log-in{
        width: 20%;
    }
    
    

    .cart-section{
        width: 12%;
        /* background: blue; */
    }
    .cart-section i {
        font-size: 33px;
    }
    .cart-section i::after{
        right: 8px;
        height: 45%;
        width: 15px;
    }
}


@media (max-device-width:650px) {

    .sign-up_log-in{
        display: none;
        /* width: 20%; */
    }

    nav .search-section {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 0 2vw;
        width: 40%;
    }
    
    nav .search-section input {
        display: none;
    }

    nav .search-section i {
        padding: 0 1vw;
        font-size: 21px;
        width: 50%;
        background: transparent;
        border: 1.5px solid black;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

    nav .ri-menu-3-line{
        font-size: 28px;
        display: flex;
    }

    .cart-section{
        width: 16%;
        /* background: blue; */
    }
    .cart-section i {
        font-size: 30px;
    }
    .cart-section i::after{
        right: 4px;
        height: 45%;
        width: 15px;
    }

.hero-section {
    flex-direction: column;
}


}

